* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;

}


body{
    background-color: rgb(165, 128, 165);
}

.title{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    padding: 7px;
    color:cyan;

}


a{
    color:rgb(157, 20, 220);
    
}


img{
    height:600px;
    width:600px;
    border: 5px inset black;
}




.item{
    font-weight:lighter;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}


.horizontalgroups{
    justify-content: center;
    display: flex;
    flex-flow: row;
}






